@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

@typeparam TValue

<div class="mb-3">
    <label class="form-label">@Label</label>

    <InputText id="@Id"
               class="form-control"
               Value="Value"
               ValueChanged="ValueChanged"
               ValueExpression="ValueExpression"
               @attributes="AdditionalAttributes" />

    <ValidationMessage For="ValueExpression" />
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter] public TValue Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public Expression<Func<string>> ValueExpression { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }
}
