@using BlazorBasicsDay1_Hosted.Client.Models
@using Microsoft.AspNetCore.Components.Forms
@inherits OwningComponentBase

<EditForm Model="NewProduct" OnValidSubmit="SubmitProduct">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>ID</label>
        <InputNumber class="form-control" @bind-Value="NewProduct.Id" />
    </div>

    <div class="mb-3">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="NewProduct.Name" />
        <ValidationMessage For="@(() => NewProduct.Name)" />
    </div>

    <div class="mb-3">
        <label>Price</label>
        <InputNumber class="form-control" @bind-Value="NewProduct.Price" />
        <ValidationMessage For="@(() => NewProduct.Price)" />
    </div>

    <button class="btn btn-success" type="submit">Add Product</button>

</EditForm>


@code {
    [Parameter] public ProductsModel NewProduct { get; set; }
    [Parameter] public EventCallback SubmitProduct { get; set; }
}